{% extends 'base.html' %}

{% block header %}
{% endblock header %}

{% block main %}
<!--login message-->
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li
            class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{message.tags}}{% endif %}">{{message}}
    </li>
    {% endfor %}
</ul>
{% endif %}

<!-- Section: Design Block -->
<section class="text-center container">
    <!-- Background image -->
    <div class="p-5 bg-image" style="
        background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
        height: 300px;
        "></div>
    <!-- Background image -->

    <div class="card mx-4 mx-md-5 shadow-5-strong" style="
        margin-top: -100px;
        background: hsla(0, 0%, 100%, 0.8);
        backdrop-filter: blur(30px);
        ">
        <div class="card-body py-5 px-md-5">

            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <h2 class="fw-bold mb-5">Login</h2>
                    <form method="post">
                        {% csrf_token %}
                        <!-- Email input -->
                        <div data-mdb-input-init class="form-outline mb-4">
                            {{ form.username }}
                            <label class="form-label">Username</label>
                        </div>

                        <!-- Password input -->
                        <div data-mdb-input-init class="form-outline mb-4">
                            {{ form.password }}
                            <label class="form-label">Password</label>
                        </div>

                        <!-- Submit button -->
                        <button type="submit"
                                class="btn btn-primary btn-block mb-4">
                            Sign up
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section: Design Block -->
{% endblock main %}