#brands {
    margin-top: 75px;
    margin-bottom: 25px;
}

#detail {
    margin-top: 50px;
    margin-bottom: 100px;
}

#mf {
    background-color: #888888;
    margin-top: 100px;
    margin-bottom: 100px;
}

#right {
    margin-left: 1100px;
}