<!--login message-->
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li
            class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{message.tags}}{% endif %}">{{message}}
    </li>
    {% endfor %}
</ul>
{% endif %}

{% load static %}
<header>
    <!-- Background image -->
    <div
            class="p-5 text-center bg-image"
            style="
      background-image: url('{% static 'app/images/header.jpg' %}');
      height: 400px;">

        <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white">
                    <h1 style="font-size: 300px; opacity: 20%" class="mb-3">Avtoelon.uz</h1>
                    <h4 class="mb-3"></h4>
                </div>
            </div>
        </div>
    </div>
    <!-- Background image -->
</header>